export(error_code)
export(specqr_options)
export(segment)
export(numeric_segment)
export(alphanumeric_segment)
export(byte_segment)
export(kanji_segment)
export(eci)
export(fnc1)
export(fnc1_first)
export(fnc1_second)
export(structured_append_segment)
export(can_encode_kanji)
export(bit_length)
export(segment_bit_length)
export(segments_bit_length)
export(normalize_segments)
export(optimize_segments)
export(create_segments)
export(get_capacity)
export(estimate)
export(plan)
export(analyze_segments)
export(plan_segments)
export(generate)
export(generate_segments)
export(diagnostics)
export(module_at)
export(render_dimensions)
export(to_svg)
export(to_pixels)
export(render_rgba)
export(to_png)
export(parse_color)
export(contrast_ratio)
export(to_svg_data_url)
export(to_png_data_url)
export(to_data_url)
export(render)
export(GS1Element)
export(GS1_FNC1_SEPARATOR)
export(calculate_gs1_check_digit)
export(validate_gs1_check_digit)
export(calculate_gtin_check_digit)
export(append_gtin_check_digit)
export(validate_gtin_check_digit)
export(calculate_sscc_check_digit)
export(append_sscc_check_digit)
export(validate_sscc_check_digit)
export(get_supported_gs1_ais)
export(get_gs1_ai_info)
export(parse_gs1_human_readable)
export(parse_gs1_element_string)
export(create_gs1_element_string)
export(gs1_to_human_readable)
export(normalize_gs1_elements)
export(gs1_element_string_to_human_readable)
export(validate_gs1_elements)
export(validate_gs1_element_string)
export(create_gs1_digital_link)
export(parse_gs1_digital_link)
export(validate_gs1_digital_link)
export(normalize_gs1_digital_link)
export(gs1_normalize)
export(gs1_from_human_readable)
export(gs1_to_element_string)
export(gs1_build)
export(gs1_parse)
export(gs1_digital_link)
export(gs1_to_digital_link)
export(calculate_structured_append_parity)
export(calculate_structured_append_segments_parity)
export(generate_structured_append)
export(generate_segments_structured_append)
export(merge_structured_append_parts)
export(specqr_cli)
S3method(print,specqr_options)
S3method(print,specqr_plan)
S3method(print,specqr_result)
S3method(print,specqr_capacity)
S3method(print,specqr_sa_result)
S3method(print,specqr_merge_result)
